<div class="row">
  <div class="columns small-12 image-header">
    <%= image_tag('st_moonwalking.jpg', :alt => '') %>
  </div>
</div>

<div class="row">
  <div class="columns small-12">
    <h1><%= t('home.welcome') %> <i class="fa fa-empire"></i></h1>
  </div>
</div>

<div class="row">
  <div class="columns small-12 medium-6 large-6 text-justify">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque vitae justo vel velit iaculis ultrices et ac mi. Aliquam consequat rutrum ipsum, ac euismod sapien laoreet eu. Sed fermentum lorem malesuada sem commodo, sed ullamcorper velit ullamcorper. Nunc varius a sapien eu finibus. Quisque non porta nunc. Fusce auctor tristique rutrum. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vestibulum nulla lorem, dapibus in purus eleifend, egestas vulputate dui. Duis purus lorem, mollis et suscipit eu, condimentum eget urna. Nullam turpis tortor, ornare ut condimentum eu, lacinia sed neque.
  </div>
  <div class="columns small-12 medium-6 large-6 text-justify">
    Fusce auctor tristique rutrum. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vestibulum nulla lorem, dapibus in purus eleifend, egestas vulputate dui. Duis purus lorem, mollis et suscipit eu, condimentum eget urna. Nullam turpis tortor, ornare ut condimentum eu, lacinia sed neque.
  </div>
</div>